In [1]:
# Installing of lib.
## pip install selenium

In [2]:
## Importing Lib
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Opening the Browser
driver = webdriver.Chrome('chromedriver.exe')

## Ques. 1
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
#Opening the url
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element_by_class_name("suggestor-input ")#extracting element
search_job.send_keys("Data Analyst")#Entering data in search box

In [6]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')#extracting element
search_locn.send_keys("Bangalore")#Entering data in search box

In [7]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')#extracting element
search_btn.click()#Clicking on the seach bbutton

In [8]:
title_tags = [] #empty list
location = []
company = []
exper = []

tit = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title = tit[0:10]    #fixing the boundries(how much data we want to extract)
loc = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
locc = loc[0:10]    
com = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp = com[0:10]    
exp = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
expp = exp[0:10]   

for i in title:
    title_tags.append(i.text) #appending the text in Title_tags list
print(len(title_tags))
for j in locc:
    location.append(j.text) #Fetching text data
print(len(location))
for k in comp:
    company.append(k.text)
print(len(company))
for l in expp:
    exper.append(l.text)
print(len(exper))

10
10
10
10

In [9]:
df = pd.DataFrame() #Creating dataframe
df['Job Title'] = title_tags
df['Job Location'] = location
df['Company Name'] = company
df['Experience Required'] = exper
df

,Job Title,Job Location,Company Name,Experience Required
0,Hiring Data Analyst For Global Logic-Immediate...,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo...",GlobalLogic,4-8 Yrs
1,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-6 Yrs
2,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
3,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
5,Data Analyst / Sr. Data Analyst,Bangalore/Bengaluru,Vmware,3-6 Yrs
6,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
7,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
8,Research - Data Analyst / Associate,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",AXL HR Tech,0-2 Yrs
9,SAM Data Analyst,"Noida, Mumbai, Bangalore/Bengaluru",Nokia,1-2 Yrs

## Ques. 2
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
#Opening the url
url1 = 'https://www.naukri.com/'
driver.get(url1)

In [11]:
search_job1 = driver.find_element_by_class_name("suggestor-input ")#extracting element
search_job1.send_keys("Data Scientist") #Entering data in search box

In [12]:
search_locn1 = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn1.send_keys("Bangalore")#Entering data in search box

In [13]:
search_btn1 = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn1.click()

In [14]:
title_tags1 = []
location1 = []
company1 = []

title_tag1 = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title1=title_tag1[0:10] #fixing the boundries(how much data we want to extract)
loc1 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
locc1 = loc1[0:10]
com1 = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp1 = com1[0:10]

for i in title1:
    title_tags1.append(i.text)#appending the text in Title_tags list
for j in locc1:
    location1.append(j.text) #Fetching location data
for k in comp1:
    company1.append(k.text) 
    
print(len(title_tags1)) #priting title_tags1
print(len(location1))
print(len(company1))

10
10
10

In [15]:
df1 = pd.DataFrame()
df1['Job Title'] = title_tags1
df1['Job Location'] = location1
df1['Company Name'] = company1
df1

,Job Title,Job Location,Company Name
0,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM
2,Sr . Data Scientist,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.
3,Senior Data Scientist,Bangalore/Bengaluru,Slice
4,Sr Data Scientist,Bangalore/Bengaluru,Siemens
5,Senior Data Scientist,Bangalore/Bengaluru,Dell
6,Senior Data Scientist,Bangalore/Bengaluru,Dell
7,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions
8,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
9,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited

##  Ques 3 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [16]:
#Opening the url
url2 = 'https://www.naukri.com/'
driver.get(url2)

In [17]:
search_job2 = driver.find_element_by_class_name("suggestor-input ") #extracting element
search_job2.send_keys("Data Scientist") #Entering data in search box

In [18]:
search_btn2 = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn2.click() #Clicking on the search Button

In [19]:
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_check.click() # Used location check to select “Delhi/NCR” and then we are clicking on to it.

In [20]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click() # Used salary check to select “3-6” lakhs and then we are clicking on to it.

In [21]:
title_tags2 = []
location2 = []
company2 = []
exper2 = []

title_tag2= driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title2= title_tag2[0:10] #fixing the boundries(how much data we want to extract)
loc2 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
locc2 = loc2[0:10]
com2 = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp2 = com2[0:10]
exp2 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
expp2 = exp2[0:10]

for i in title2:
    title_tags2.append(i.text) #appending the text in title_tags2 list
for j in locc2:
    location2.append(j.text) #Fetching location data
for k in comp2:
    company2.append(k.text)
for l in expp2:
    exper2.append(l.text)

print(len(title_tags2))#priting title_tags2
print(len(company2))
print(len(location2))
print(len(exper2))

10
10
10
10

In [22]:
df2 = pd.DataFrame()
df2['Job Title'] = title_tags2
df2['Job Location'] = location2
df2['Company Name'] = company2
df2['Experience Required'] = exper2
df2

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
2,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,2-5 Yrs
3,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
4,Data Scientist,Gurgaon/Gurugram(Uday Nagar),Core Diagnostics Private Limited,2-7 Yrs
5,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
6,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
8,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
9,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs

##  Ques 4
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [23]:
#Opening the url
url3 = 'https://www.flipkart.com/'
driver.get(url3)

In [24]:
search = driver.find_element_by_class_name("_3704LK") #extracting element
search.send_keys("Sun Glasses") #Entering data in search box

In [25]:
btn = driver.find_element_by_class_name('L0Z3Pu')
btn.click()

In [26]:
start=0 #start page
end=3 #end page

brand = []
price = []
des = []
off = []

for page in range(start,end): #for loop for scrapping 3 page
    brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")#scraping brands name by class name
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in brands:
        brand.append(i.text) #appending the text in Brand list
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
    for l in dis:
        off.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']") #Scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href')) #Getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [27]:
b=brand[0:100]
p=price[0:100]
d=des[0:100]
o=off[0:100]

In [28]:
print('\n List of Brands:- \n', b)
print('\n \nProduct Description:- \n', d)
print('\n \n Price:- \n', p)
print('\n \n Discount:- \n', o)

 List of Brands:-
 ['Singco India', 'Singco India', 'PIRASO', 'Fastrack', 'Elligator', 'SRPM', 'kingsunglasses', 'DEIXELS', 'SHAAH COLLECTIONS', 'PIRASO', 'New Specs', 'AISLIN', 'SUNBEE', 'PIRASO', 'ROYAL SON', 'LOUIS KOUROS', 'kingsunglasses', 'kingsunglasses', 'SHAAH COLLECTIONS', 'AISLIN', 'ROYAL SON', 'New Specs', 'hipe', 'VINCENT CHASE', 'PHENOMENAL', 'PHENOMENAL', 'PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'Rich Club', 'agera', 'ROZZETTA CRAFT', 'New Specs', 'Elligator', 'Lee Topper', 'AISLIN', 'kingsunglasses', 'Lee Topper', 'Fastrack', 'DEIXELS', 'PIRASO', 'ROZZETTA CRAFT', 'Singco India', 'Singco India', 'Fastrack', 'hipe', 'hipe', 'DEIXELS', 'ROZZETTA CRAFT', 'ROYAL SON', 'Fastrack', 'Singco India', 'Elligator', 'Fastrack', 'SUNBEE', 'VILLAIN', 'ROYAL SON', 'Silver Kartz', 'Fastrack', 'AISLIN', 'Rich Club', 'SRPM', 'ROZZETTA CRAFT', 'AISLIN', 'ROYAL SON', 'PHENOMENAL', 'Lee Topper', 'AISLIN', 'Singco India', 'Rich Club', 'kingsunglasses', 'ROZZETTA CRAFT', 'Elligator', 'ROYAL SON', 'Billion', 'VINCENT CHASE', 'GANSTA', 'PIRASO', 'PIRASO', 'DEIXELS', 'Urbanic', 'PHENOMENAL', 'ROZZETTA CRAFT', 'Singco India', 'kingsunglasses', 'PHENOMENAL', 'Singco', 'Singco India', 'kingsunglasses', 'Rich Club', 'Fastrack', 'DEIXELS', 'Fravy', 'kingsunglasses', 'Silver Kartz', 'Singco India', 'PIRASO', 'Rich Club', 'New Specs', 'AISLIN']


Product Description:-
 ['Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection Round Sunglasses (54)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Aviator Sunglasses (54)', 'Mirrored, UV Protection, Riding Glasses, Others Round S...', 'UV Protection, Gradient Round Sunglasses (58)', 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...', 'UV Protection Aviator Sunglasses (54)', 'Mirrored Aviator Sunglasses (55)', 'Mirrored, UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (53)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection, Gradient Cat-eye Sunglasses (58)', 'UV Protection Rectangular Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...', 'by Lenskart UV Protection Wayfarer Sunglasses (49)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (55)', 'UV Protection Round Sunglasses (50)', 'Gradient Aviator Sunglasses (55)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...', 'UV Protection Wayfarer Sunglasses (61)', 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Butterfly Sunglasses (65)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'Riding Glasses, UV Protection, Others Aviator Sunglasse...', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection, Mirrored, Riding Glasses, Night Vision, ...', 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection, Gradient Butterfly Sunglasses (57)', 'Polarized Retro Square Sunglasses (Free Size)', 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)', 'UV Protection Retro Square, Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Polarized, Mirrored Retro Square Sunglas...', 'Others Retro Square Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (58)', 'Polarized Round Sunglasses (48)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection, Gradient Cat-eye Sunglasses (58)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...', 'UV Protection, Riding Glasses Retro Square, Spectacle ...', 'UV Protection Wayfarer Sunglasses (61)', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Round Sunglasses (48)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Round Sunglasses (55)', 'UV Protection Retro Square Sunglasses (58)', 'UV Protection Aviator Sunglasses (57)', 'by Lenskart UV Protection Wayfarer Sunglasses (49)', 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Others Retro Square Sunglasses (Free Size)', 'UV Protection Clubmaster Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'Mirrored, UV Protection Aviator Sunglasses (56)', 'UV Protection, Others Round Sunglasses (48)', 'UV Protection Round Sunglasses (55)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Gradient, Night Vision Retro Square Sung...', 'UV Protection, Mirrored Round Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (88)', 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)', 'Mirrored Aviator Sunglasses (32)', 'UV Protection, Polarized Oval Sunglasses (48)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (58)']


 Price:-
 ['₹599', '₹229', '₹200', '₹759', '₹248', '₹198', '₹188', '₹319', '₹165', '₹200', '₹262', '₹498', '₹271', '₹200', '₹359', '₹1,499', '₹289', '₹273', '₹181', '₹459', '₹449', '₹259', '₹229', '₹1,179', '₹299', '₹299', '₹299', '₹348', '₹549', '₹355', '₹196', '₹353', '₹233', '₹189', '₹276', '₹698', '₹187', '₹199', '₹575', '₹319', '₹349', '₹360', '₹201', '₹599', '₹789', '₹179', '₹209', '₹319', '₹349', '₹664', '₹639', '₹220', '₹291', '₹1,089', '₹227', '₹549', '₹359', '₹246', '₹639', '₹498', '₹163', '₹207', '₹348', '₹459', '₹359', '₹287', '₹375', '₹698', '₹229', '₹220', '₹256', '₹353', '₹239', '₹449', '₹224', '₹1,179', '₹209', '₹299', '₹200', '₹319', '₹499', '₹287', '₹426', '₹599', '₹256', '₹309', '₹498', '₹229', '₹211', '₹220', '₹899', '₹319', '₹245', '₹235', '₹255', '₹220', '₹164', '₹175', '₹168', '₹498']


 Discount:-
 ['80% off', '67% off', '87% off', '15% off', '90% off', '84% off', '81% off', '78% off', '90% off', '87% off', '83% off', '67% off', '84% off', '87% off', '76% off', '81% off', '81% off', '86% off', '81% off', '69% off', '70% off', '87% off', '81% off', '41% off', '85% off', '85% off', '88% off', '84% off', '31% off', '64% off', '82% off', '82% off', '82% off', '87% off', '88% off', '74% off', '84% off', '80% off', '28% off', '78% off', '86% off', '81% off', '86% off', '80% off', '12% off', '87% off', '79% off', '78% off', '82% off', '66% off', '20% off', '85% off', '85% off', '16% off', '82% off', '26% off', '76% off', '83% off', '20% off', '67% off', '67% off', '79% off', '84% off', '69% off', '76% off', '85% off', '71% off', '74% off', '67% off', '72% off', '87% off', '82% off', '88% off', '70% off', '77% off', '41% off', '88% off', '81% off', '87% off', '78% off', '36% off', '85% off', '78% off', '80% off', '82% off', '84% off', '75% off', '67% off', '83% off', '72% off', '10% off', '78% off', '87% off', '86% off', '78% off', '85% off', '89% off', '64% off', '88% off', '67% off']

In [29]:
df3=pd.DataFrame() 
df3['Brand']=b
df3['Product Description'] = d
df3['Price']=p
df3['Discount']=o
df3

,Brand,Product Description,Price,Discount
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599,80% off
1,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹229,67% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
4,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
...,...,...,...,...
95,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹220,85% off
96,PIRASO,Mirrored Aviator Sunglasses (32),₹164,89% off
97,Rich Club,"UV Protection, Polarized Oval Sunglasses (48)",₹175,64% off
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹168,88% off
99,AISLIN,"UV Protection, Gradient Round Sunglasses (58)",₹498,67% off

In [30]:
#df3. to_csv('product.csv')

## Ques 5
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

You have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [31]:
url4 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url4)

 All Ratings

In [32]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
next.click()

In [33]:
start=0
end=11
rating = []
review = []
full = []
for page in range(start,end):
    ratings=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    reviews=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    descp=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in ratings:
        rating.append(i.text)
    for j in reviews:
        review.append(j.text)
    for k in descp:
        full.append(k.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [34]:
rr=rating[0:100]
re=review[0:100]
ff=full[0:100]

In [35]:
df4 = pd.DataFrame({'Ratings':rr,'Reviews':re,'Description':ff})
df4

,Ratings,Reviews,Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,3,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

## Ques 6
Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [36]:
url5 = 'https://www.flipkart.com/'
driver.get(url5)

In [37]:
search = driver.find_element_by_class_name("_3704LK")
search.send_keys("sneakers")

In [38]:
btn = driver.find_element_by_class_name('L0Z3Pu')
btn.click()

In [39]:
start=0
end=3
brand1 = []
price1 = []
des1 = []
for page in range(start,end): #for loop for scrapping 3 page
    brands1=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    prices1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp1=driver.find_elements_by_class_name('IRpwTa')

    for i in brands1:
        brand1.append(i.text) #appending the text in Brands1 list
    for j in prices1:
        price1.append(j.text)
    for k in descp1:
        des1.append(k.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand1))
print(len(price1))
print(len(des1))

120
120
120

In [40]:
bb=brand1[0:100]
pp=price1[0:100]
dd=des1[0:100]

In [41]:
df5=pd.DataFrame()
df5['Brand']=bb
df5['Product Description'] = dd
df5['Price']=pp
df5

             Brand                                Product Description   Price
0            Echor  Echor Men's Sneakers Fashion Lightweight Runni...    ₹569
1         RED TAPE                           Classic Sneakers For Men  ₹1,678
2         Magnolia                                   Sneakers For Men    ₹398
3           Labbin                                   Sneakers For Men    ₹499
4   luxury fashion  Luxury Fashionable casual sneaker shoes Sneake...    ₹449
..             ...                                                ...     ...
95        RED TAPE                                   Sneakers For Men  ₹1,258
96           Tying  Model name: New Latest Affordable Range of Com...    ₹999
97   RODDICK SHOES  Fashion Outdoor Canvas Casual Light Weight Lac...    ₹499
98  Rocky Footwear  Stylish Premium Casual Sneakers for Men (Red) ...    ₹422
99       leo shoes  Leo Men's Light Weight Knitted Mesh Multicolor...    ₹749

[100 rows x 3 columns]

## Ques 7
Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, and then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe

In [42]:
url6 = 'https://www.myntra.com/shoes'
driver.get(url6)

In [43]:
#color check
col = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
col.click()

In [44]:
#price check
price_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [45]:
start=0
end=3
brand2 = []
price2 = []
des2 = []

for page in range(start,end): #for loop for scrapping 3 page
    brands2=driver.find_elements_by_xpath("//h3[@class='product-brand']") #scraping brands name by xpath
    prices2=driver.find_elements_by_xpath("//div[@class='product-price']")
    descp2=driver.find_elements_by_xpath("//h4[@class='product-product']")

    for i in brands2:
        brand2.append(i.text) #appending the text in Brands2
    for j in prices2:
        price2.append(j.text)
    for k in descp2:
        des2.append(k.text)

    nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand2))
print(len(price2))
print(len(des2))

150
150
150

In [46]:
bbb= brand2[0:100]
ppp=price2[0:100]
ddd=des2[0:100]

In [47]:
df6 = pd.DataFrame()
df6['Brand']=bbb
df6['Short Shoe Description'] = ddd
df6['Price of the Shoe'] = ppp
df6

,Brand,Short Shoe Description,Price of the Shoe
0,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
1,Saint G,Men Mid-Top Chelsea Boots,Rs. 9265Rs. 10900(15% OFF)
2,Delize,Block Heeled Boots,Rs. 9999
3,ROSSO BRUNELLO,Men Textured Formal Loafers,Rs. 10999
4,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
...,...,...,...
95,Saint G,Women Kitten Heeled Boots,Rs. 7565Rs. 8900(15% OFF)
96,Skechers,Men GO RUN RIDE 9 RunningShoes,Rs. 10999
97,Heel & Buckle London,Men Solid Leather Formal Penny Loafers,Rs. 7693Rs. 10990(30% OFF)
98,Bugatti,Men Sneakers,Rs. 8799Rs. 10999(20% OFF)
99,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)

In [48]:
#df6. to_csv('Shoes.csv')

## Ques 8
Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [49]:
url7 = 'https://www.amazon.in/'
driver.get(url7) #opening the url

In [50]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop') #Sending the keys

In [51]:
butt=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
butt.click() #clicking on the search button

In [52]:
see_more=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')
see_more.click() #Clicking on see more option on the screen

In [53]:
i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div')
i7.click() # Currectly Check box was not available here in the website so, first scrapping data for i7 then for i9.

In [54]:
# Scrapping the price for 1st 10 laptop's
pri = []
pric=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in pric:
    pri.append(i.text) #appending text
p= pri[0:10] #Fixing the limit(only 10 laptops)

In [55]:
# Locating the url's for each laptop's
urls=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
UR=[]
for i in urls[0:10]:
    UR.append(i.get_attribute('href')) #getting the url of first 10 laptops

In [56]:
rating=[]
nam = []

for i in UR:    
    try:   #here i used try and except because there were few laptops where ratings were not there in the website
        driver.get(i)
        rate=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        rating.append(rate.text)
    except NoSuchElementException:
        rating.append("NO rating")

for j in UR:
    try:
        driver.get(j)
        name=driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        nam.append(name.text.split(',')[0].replace(',','\n'))
    except NoSuchElementException:
        rating.append("No Title available")

print(len(rating))
print(len(nam))

10
10

In [57]:
print("\n Name Of Laptop's :-\n \n", nam )
print("\n\n Rating's of Each Laptop :- \n \n", rating)
print("\n\n Price of Laptop's :- \n \n", p)

 Name Of Laptop's :-

 ['Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 15.6"(39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/MS Office 2021/Backlit Keyboard/Fingerprint Reader/Graphite Grey/1.66Kg)', 'Mi Notebook Ultra 3.2K resolution display Intel Core i5-11300H 11th Gen 15.6-inch(39.62 cm) Thin and Light laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint sensor/1.7Kg)', 'Lenovo IdeaPad Gaming 3 10th Gen Intel i5 15.6" FHD Laptop (8GB/1TB HDD/GTX 1650 4GB GDDR6 Graphics/60Hz Refresh Rate/Windows 10/Office 2019/Blue Backlit/Onyx Black/2.2Kg)', 'ASUS TUF Gaming F15', 'Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 15.6"(39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/MS Office 2021/Backlit Keyboard/Fingerprint Reader/Graphite Grey/1.66Kg)', 'Mi Notebook Ultra 3.2K resolution display Intel Core i5-11300H 11th Gen 15.6-inch(39.62 cm) Thin and Light laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint sensor/1.7Kg)', 'Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6 FHD Thin and Light Laptop (8GB/512GB SDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.85Kg)', '(Renewed) Hp ProBook 640 G1 4TH Gen Core i5 Laptop', 'HP Pavilion 14', 'HP Pavilion 14']


 Rating's of Each Laptop :-

 ['4.3 out of 5', '4.3 out of 5', '4 out of 5', '4.4 out of 5', '4.3 out of 5', '4.3 out of 5', '4.2 out of 5', 'NO rating', '5 out of 5', '4.4 out of 5']


 Price of Laptop's :-

 ['62,990', '63,499', '49,990', '58,990', '62,990', '63,499', '49,990', '24,499', '61,990', '67,990']

In [58]:
df7 = pd.DataFrame({'Name of laptops':nam,'Ratings of the Laptops':rating,'Price of the Laptops':p})
df7

,Name of laptops,Ratings of the Laptops,Price of the Laptops
0,Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...,4.3 out of 5,"62,990"
1,Mi Notebook Ultra 3.2K resolution display Inte...,4.3 out of 5,"63,499"
2,Lenovo IdeaPad Gaming 3 10th Gen Intel i5 15.6...,4 out of 5,"49,990"
3,ASUS TUF Gaming F15,4.4 out of 5,"58,990"
4,Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...,4.3 out of 5,"62,990"
5,Mi Notebook Ultra 3.2K resolution display Inte...,4.3 out of 5,"63,499"
6,Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6 F...,4.2 out of 5,"49,990"
7,(Renewed) Hp ProBook 640 G1 4TH Gen Core i5 La...,NO rating,"24,499"
8,HP Pavilion 14,5 out of 5,"61,990"
9,HP Pavilion 14,4.4 out of 5,"67,990"

## Now scapping data for i9 as check box was not available, so scrapping i9 seperatly

In [59]:
url07 = 'https://www.amazon.in/' 
driver.get(url07)

In [60]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [61]:
butt=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
butt.click()

In [64]:
see_more=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')
see_more.click()

In [66]:
i9=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[14]/div/span')
i9.click()

In [67]:
# Scrapping the price for 1st 10 laptop's
pri = []
pric=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in pric:
    pri.append(i.text) #appending text
p= pri[0:10] #Fixing the limit(only 10 laptops)

In [68]:
#locating the url's.
urls=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
UR=[]
for i in urls[0:10]: #There are only 2 products whose ratings are there
    UR.append(i.get_attribute('href'))#getting the url of first 4 laptops

In [69]:
rating=[]
tit = []

for i in UR:    
    try:
        driver.get(i)
        rate=driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
        rating.append(rate.text)
    
    except NoSuchElementException:
        rating.append("No Rating Availabe")
        
for j in UR:
    try:
        driver.get(j)
        titl=driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        tit.append(titl.text.replace(',','\n'))
    
    except NoSuchElementException:
        tit.append("No title available")
        
print(len(tit))
print(len(rating))

10
10

In [70]:
print("\n Name Of Laptop's :-\n \n", tit )
print("\n\n Rating's of Each Laptop :- \n \n", rating)
print("\n\n Price of Laptop's :- \n \n", p)

 Name Of Laptop's :-

 ['ASUS TUF Gaming F15 (2021)\n 15.6" (39.62 cms) FHD 240Hz\n Intel Core i9-11900H 11th Gen\n GeForce RTX 3060 6GB Graphics\n Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg)\n FX566HM-AZ096TS', 'ASUS TUF Gaming F15 (2021)\n 15.6-inch (39.62 cms) FHD 240Hz/3ms\n Intel Core i9-11900H 11th Gen\n RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg)\n FX506HM-AZ099TS', 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP', 'ASUS TUF Gaming F15 (2021)\n 15.6-inch (39.62 cms) FHD 144Hz\n Intel Core i9-11900H 11th Gen\n RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg)\n FX566HM-HN097TS', 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg)\n 81YU006HIN', 'ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz Gaming Laptop RTX 2070 8GB Graphics (Core i9-9880H 9th Gen/32GB RAM/1TB PCIe SSD/Windows 10/Scar Gunmetal/2.57 Kg)\n G531GW-AZ113T', '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B\n Black', 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty', 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty', 'BZ MB WS ZB/Power G8/DSC i9-11900H/32GB/SSD1TB/NVQ A2000/400FHD/IR/Win10 Pro']


 Rating's of Each Laptop :-

 ['4.1 out of 5', '4.1 out of 5', 'No Rating Availabe', '5 out of 5', '4.4 out of 5', '5 out of 5', 'No Rating Availabe', 'No Rating Availabe', 'No Rating Availabe', 'No Rating Availabe']


 Price of Laptop's :-

 ['1,44,990', '1,43,990', '2,00,000', '1,39,990', '2,65,999', '1,89,000', '2,25,000', '2,45,000', '2,39,000', '2,57,729']

In [71]:
df07 = pd.DataFrame({'Name of laptops(i9)':tit,'Ratings of the Laptops':rating,'Price of the Laptops':p})
df07

,Name of laptops(i9),Ratings of the Laptops,Price of the Laptops
0,"ASUS TUF Gaming F15 (2021)\n 15.6"" (39.62 cms)...",4.1 out of 5,"1,44,990"
1,ASUS TUF Gaming F15 (2021)\n 15.6-inch (39.62 ...,4.1 out of 5,"1,43,990"
2,Dell Precision 5550 || i9 -10885H || 16GB || 1...,No Rating Availabe,"2,00,000"
3,ASUS TUF Gaming F15 (2021)\n 15.6-inch (39.62 ...,5 out of 5,"1,39,990"
4,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,4.4 out of 5,"2,65,999"
5,"ASUS ROG Strix Scar III G531GW 15.6"" FHD 240Hz...",5 out of 5,"1,89,000"
6,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,No Rating Availabe,"2,25,000"
7,HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...,No Rating Availabe,"2,45,000"
8,Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...,No Rating Availabe,"2,39,000"
9,BZ MB WS ZB/Power G8/DSC i9-11900H/32GB/SSD1TB...,No Rating Availabe,"2,57,729"

## Ques 9
Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results.
6. Finally create a dataframe of the scraped data.

In [72]:
url8 = 'https://www.ambitionbox.com/'
driver.get(url8)

In [73]:
job= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [74]:
sear = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
sear.send_keys('Data Scientist')

In [75]:
butto=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
butto.click()

In [76]:
loca=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
loca.click()

In [77]:
ty=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
ty.send_keys('Noida')

In [78]:
cli=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
cli.click()

In [79]:
heading = []
names = []
days = []
ratings = []
head=driver.find_elements_by_xpath("//a[@class='title noclick']")#scraping brands name by class name='_2WkVRV'
name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
day =driver.find_elements_by_xpath("//span[@class='body-small-l']")
rat =driver.find_elements_by_xpath("//span[@class='body-small']")
for i in head:
    heading.append(i.text)
for j in name:
    names.append(j.text)
for k in day:
    days.append(k.text)
for l in rat:
    ratings.append(l.text)
print(len(heading))
print(len(names))
print(len(days))
print(len(ratings))

10
10
20
10

In [80]:
names

['HCL',
 'Jubilant Foodworks Limited',
 'Ameriprise Financial',
 'Paytm',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'Cargoflash']

In [81]:
heading

['HCL - Data Scientist - NLP/Python (2-6 yrs)',
 'Data Scientist',
 'Manager Data Scientist',
 'Vice President - Data Science',
 'CogniTensor - Data Scientist (2-5 yrs)',
 'CogniTensor - Data Scientist (2-5 yrs)',
 'Data Scientist - Data Science/Model Development (0-6 yrs)',
 'Manager - Data Scientist - Retail/BFSI (8-15 yrs)',
 'Data Scientist - Consulting Firm (8-15 yrs)',
 'Cargo Flash - Operation Research Analyst - Revenue Management System (3-9 yrs)']

In [82]:
d=days[0:20:2]#Extracting the required data
d

['2d ago',
 '2d ago',
 '4d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '23d ago',
 '23d ago',
 '23d ago',
 '1d ago']

In [83]:
ratings

['3.8', '3.9', '4.0', '3.7', '3.8', '3.8', '4.1', '4.1', '4.1', '3.8']

In [84]:
df8 =pd.DataFrame()
df8['Company Name'] = names
df8['No. of days ago when job was posted'] = d
df8['Rating of the company'] = ratings
df8

,Company Name,No. of days ago when job was posted,Rating of the company
0,HCL,2d ago,3.8
1,Jubilant Foodworks Limited,2d ago,3.9
2,Ameriprise Financial,4d ago,4.0
3,Paytm,10d ago,3.7
4,CHT Sapiense,11d ago,3.8
5,CHT Sapiense,12d ago,3.8
6,GI Group,23d ago,4.1
7,GI Group,23d ago,4.1
8,GI Group,23d ago,4.1
9,Cargoflash,1d ago,3.8

In [85]:
#df8. to_csv('ambition')

##  Ques 10
Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [86]:
url9 = 'https://www.ambitionbox.com/'
driver.get(url9)

In [87]:
sal = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal.click()

In [88]:
sea=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
sea.send_keys('Data Scientist')

In [89]:
cc=driver.find_element_by_xpath("//div[@class='suggestion']")
cc.click()

In [90]:
sal = []
minn = []
maax = []
avg = []
bas = []
exp = []

sall= driver.find_elements_by_class_name('name') #scraping by class name
miin = driver.find_elements_by_class_name('salary-values')
mixx= driver.find_elements_by_class_name('salary-values')
avgg= driver.find_elements_by_class_name('averageCtc')
base= driver.find_elements_by_class_name('name')
expp= driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

for i in sall:
    sal.append(i.text.split('\n')[0])  #Spliting the data and fetching the required data what we want.
for j in miin:
    minn.append(j.text.split('\n')[0])
for k in mixx:
    maax.append(k.text.split('\n')[1])
for l in avgg:
    avg.append(l.text)

for m in base:
    bas.append(m.text.split('\n')[-1])
b =bas[0:10]
for n in expp:
    exp.append(n.text.split('\n')[-1])
    
s= sal[0:10] #Fixing the limit of the data that we want
mx = maax[0:10]
mi = minn[0:10]
a = avg[0:10]
e=exp[0:10]

In [92]:
df9 = pd.DataFrame({'Company Name':s,'Number of salaries':b,'Minimum Salary':mi,'Average Salary':a,'Maximum Salary':mx,'Experience Required':e})
df9

,Company Name,Number of salaries,Minimum Salary,Average Salary,Maximum Salary,Experience Required
0,Walmart,based on 10 salaries,₹ 17.7L,₹ 28.7L,₹ 35.0L,3 yrs exp
1,Ab Inbev,based on 22 salaries,₹ 15.0L,₹ 19.5L,₹ 25.0L,3-4 yrs exp
2,ZS,based on 14 salaries,₹ 9.8L,₹ 15.8L,₹ 20.0L,2 yrs exp
3,Fractal Analytics,based on 72 salaries,₹ 9.5L,₹ 15.0L,₹ 22.0L,2-4 yrs exp
4,Optum,based on 23 salaries,₹ 11.0L,₹ 15.0L,₹ 21.3L,3-4 yrs exp
5,UnitedHealth,based on 49 salaries,₹ 7.2L,₹ 13.5L,₹ 20.5L,2-4 yrs exp
6,Tiger Analytics,based on 27 salaries,₹ 8.3L,₹ 13.5L,₹ 18.5L,3-4 yrs exp
7,Verizon,based on 14 salaries,₹ 10.0L,₹ 12.7L,₹ 21.0L,4 yrs exp
8,Ganit Business Solutions,based on 13 salaries,₹ 8.5L,₹ 12.4L,₹ 15.0L,4 yrs exp
9,Ericsson,based on 42 salaries,₹ 5.8L,₹ 11.9L,₹ 21.5L,3-4 yrs exp

In [93]:
#df9. to_csv('Ambition_box.csv') #converting the dataset to csv file for future use

In [94]:
driver.close()